<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store | Login Cpanel</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- hover.css -->
    <link href="css/hover.css" rel="stylesheet" type="text/css">
    <!-- for alertify -->
    <link href="css/alertify.css" rel="stylesheet" type="text/css">
    <!-- for_fivicon -->
    <link href="#" type="text/css" rel="icon">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <div class="login-wrapper col-xs-12">

        <div class="container">
            <div class="col-md-12">
                <div class="form-container col-md-5">

                    <div class="form-body">
                        <div class="iconpage">
                            <img src="images/avatar2_big.png" class="img1">
                        </div>
                        <form action="#" method="get">
                            <input type="text" placeholder="إسم المستخدم..." id="txtname">
                            <input type="password" placeholder="الرقم السري..." id="pass">
                            <label>
                                <input type="checkbox" id="check">
                                <span>تذكرني دائماً</span>
                            </label>
                            <a class="forget">هل نسيت كلمة المرور ؟</a>
                            <input type="submit" value="دخول" id="loginbtn">
                        </form>
                    </div>
                    <!-- end form-body -->

                    <div class="forgetpass">
                        <div class="iconpage new">
                            <img src="images/avatar2_big.png">
                        </div>
                        <form>
                            <input type="email" placeholder="إترك ايميلك هنا ..." id="forgettxt">
                            <input type="submit" id="checkbtn" value="إرسال">
                            <a class="gohome">
                              عودة للتسجيل
                               <i class="fa fa-angle-double-left"></i>
                               
                           </a>
                        </form>
                    </div>
                    <!-- end forgetpass -->
                </div>
                <!-- end form-container -->
            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end login-wrapper -->

    <!-- scripts -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.bpopup.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/alertify.min.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>

</html>