<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store | Categories | Types</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- hover.css -->
    <link href="css/hover.css" rel="stylesheet" type="text/css">
    <!-- for alertify -->
    <link href="css/alertify.css" rel="stylesheet" type="text/css">
    <!-- for_fivicon -->
    <link href="#" type="text/css" rel="icon">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hvr-buzz-out" href="index.html">Store </a>
            </div>

            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav text-center">
                <li class="dropdown open-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/avatar2.png" class="avt"> Amir Nageh <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu col-xs-12 text-center">

                        <li class="frst">
                            <img src="Images/avatar2_big.png" class="image-admin" alt="image-admin">
                            <p>"Amir Nageh"
                                <br>
                                <small>Member since 2014</small></p>
                        </li>

                        <li class="personal">
                            <!--                            <a href="profile.html" class="profile hvr-bounce-to-right">Profile</a>-->
                            <a href="#" class="sgnout hvr-bounce-to-left">Sign Out</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown open-user msgs hidden-lg ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu col-xs-12 text-center msg-box">
                        <li>
                            <b><img src="images/me.jpg" alt="" width="50" height="50"></b>
                            <div>
                                <h1>Amir Nageh</h1>
                                <span>odjsojdsmlfjvojefp,meovjohojfeojfe</span>
                            </div>
                        </li>
                        <li>
                            <b><img src="images/me.jpg" alt="" width="50" height="50"></b>
                            <div>
                                <h1>Amir Nageh</h1>
                                <span>odjsojdsmlfjvojefp,meovjohojfeojfe</span>
                            </div>
                        </li>
                        <li>
                            <b><img src="images/me.jpg" alt="" width="50" height="50"></b>
                            <div>
                                <h1>Amir Nageh</h1>
                                <span>odjsojdsmlfjvojefp,meovjohojfeojfe</span>
                            </div>
                        </li>
                        <li>
                            <b><img src="images/me.jpg" alt="" width="50" height="50"></b>
                            <div>
                                <h1>Amir Nageh</h1>
                                <span>odjsojdsmlfjvojefp,meovjohojfeojfe</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

                    <li class="active">
                        <a href="categories.html" class="hvr-underline-from-left"><i class="fa fa-fw fa-suitcase"></i> &nbsp;Categories</a>
                    </li>

                    <li>
                        <a href="messages.html" class="hvr-underline-from-left"><i class="fa fa-fw fa-envelope"></i> &nbsp;Messages</a>
                    </li>

                    <li>
                        <a href="about.html" class="hvr-underline-from-left"><i class="fa fa-fw fa-suitcase"></i> &nbsp;About Site</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="element-wrapper col-xs-12">

                    <div class="col-md-8 element-right col-xs-12">
                        <h1>عناصر المقارنة التي تم ادخالها</h1>
                        <form>
                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>السعر</span>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>الجودة</span>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>السرعة</span>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>الشكل</span>
                                </label>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox">
                                    <span>المواصفات</span>
                                </label>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4 element-left col-xs-12">
                        <h1 class="add-elem" data-toggle="tooltip" data-placement="top" title="Add new element">
                            <i class="fa fa-plus"></i>
                        </h1>
                        <div class="left-img col-xs-12">
                            <div class="left-caption col-xs-12">
                                <div class="imgcontent col-xs-12">
                                    <div class="bstext">
                                        <span>
                                          <i class="fa fa-camera"></i><br>
                                          Upload an image
                                      </span>
                                    </div>
                                    <!-- end bstext -->
                                    <output id="list"></output>
                                    <input type="file" id="show-adj8" name="myFileSelect">
                                </div>
                            </div>
                            <!-- end left-caption -->
                            <img src="images/lap2.jpg" alt="" class="target2">
                        </div>
                        <!-- end left-img -->
                        <div class="left-name col-xs-12">
                            <h1>لاب توب ديل</h1>

                        </div>
                        <!-- end left-name -->
                    </div>
                    <!-- end element-left -->

                    <div class="edit-sector2 col-md-4 col-sm-6 col-xs-12">
                        <span class="add-elements" data-toggle="tooltip" data-placement="bottom" title="Add new element">
                        <i class="fa fa-plus"></i>
                    </span>
                        <div class="elements col-xs-12">
                            <input type="text" placeholder="type comparison element name ..">
                        </div>
                        <input type="submit" value="Save">
                    </div>
                    <!-- end edit-sector2 -->
                </div>
                <!-- end element wrapper -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- scripts -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.bpopup.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/alertify.min.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>


</body>

</html>