<!DOCTYPE html>
<html>
<head>
	<title>Egy4Shop</title>
	<meta charset="utf-8"> 
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    
	<!-- for bootstrap file -->
	<link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap.css" />
    <!-- for custome style -->
    <link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
    <!-- <script src="http://maps.googleapis.com/maps/api/js"></script>-->
    <!-- for fontawesome -->
    <link href="../../../public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    
</head>
<body>
<div class="myhead col-sm-12 col-xs-12">
			    <div class="logo">
			      <a href="index.html">
			        <img src="../../../public/imgs/logo.png" />
			      </a>
			    </div>
			    <div class="btns">
			      <a class="login-btn">
			        تسجيل الدخول
			        <span class="glyphicon glyphicon-user"></span>
			      </a>
			      <a href="addComp.html">
			        أضف شركتك
			        <span class="glyphicon glyphicon-plus"></span>
			      </a>
			    </div>

			    <div class="search">
			      <div>
			        <input type="text" placeholder="البحث"/>
			          <input type="submit" />
			          <span class="glyphicon glyphicon-search"></span>
			      </div>

			    </div>
			 </div><!--end my heade-->

	<div class="container">
		<div class="row">
			<h3>الطلبات الوارده</h3>
			<div class="side col-sm-3 col-xs-12">
				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>0215100000000000000005184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->

				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>0211111111111515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->

				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>0211111111111515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->

				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>021515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->

				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>021515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->

				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>021515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->

				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>021515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->

				<div class="msg">
					<img src="../../../public/imgs/dd.jpg" />
					<span>قام <b>حسن شرف</b> بطلب منتج <b>لاب توب</b></span>
					<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>021515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
				</div><!--end msg-->
			</div><!--end side-->

			<div class="msgs col-sm-8 col-xs-12">
				<div class="order-info">
						<div class="time">1-1-2001 3:50:00</div>
						<ul>
							<li class="title">الاسم</li>
							<li>حسن شرف</li>
						</ul>

						<ul>
							<li class="title">الهاتف</li>
							<li>021515184848</li>
						</ul>

						<ul>
							<li class="title">المنتج المطلوب</li>
							<li>لاب توب</li>
						</ul>

						<ul>
							<li class="title">العدد</li>
							<li>50</li>
						</ul>

						<ul>
							<li class="title">تفاصيل الطلب</li>
							<li>أردي كميه من المنتج كذا بمقدار عدد 10 من القطعه وأى حاجه من المنتجات الأخرى :)</li>
						</ul>
					</div>
			</div><!--end msgs-->
		</div><!--end row-->
	</div><!--end container-->
<div class="login-form">
                <h1>تسجيل الدخول</h1>
                <form action="" method="">
                    <span class="fa fa-user" id="admintxt"></span>
                    <input type="text" placeholder="إدخل الاسم" class="txt"   required autofocus name="txtname">
                    <span class="fa fa-lock" id="passtxt"></span>
                    <input type="password" placeholder="الرقم السري" class="pass"  required name="txtpass">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me"> تذكرني
                      </label>
                    </div>
                    <button type="submit" class="bt" name="lginbtn">دخــول</button>
                </form>
            </div>

	<div class="footer col-sm-12">
        <div class="fo-links">
          <a href="index.html">الرئيسيه</a>
          <a href="addComp.html">أضف شركتك</a>
          <a href="contact.html">تواصل معنا</a>
<!--            <a href="search-jop.html">إبحث عن وظيفة</a>-->
        </div>
      </div><!--end footer-->
	

  <div class="s-area">
  	<span class="close-map"><i class="fa fa-map-marker"></i></span>
  	<span class="open-map"><i class="fa fa-map-marker"></i></span>
  	<div>
  		<from action="" method="">
			<select>
				<option>المحافظه</option>
				<option>القاهره</option>
				<option>الدقهليه</option>
				<option>الإسكندريه</option>
			</select>

			<select>
				<option>المدينه</option>
				<option>المنصوره</option>
				<option>القاهره</option>
				<option>سندوب</option>
			</select>

			<select>
				<option>المنطقه</option>
				<option>الجلاء</option>
				<option>الترعه</option>
				<option>قناة السويس</option>
			</select>

			<select>
				<option>التصنيف</option>
				<option>أجهوه</option>
				<option>ملابس</option>
				<option>مطاعم</option>
			</select>
			<input type="submit" value="ذهاب" />
  		</from>
  	</div>
  </div><!--end s-area-->
    
    <script type="text/javascript" src="../../../public/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../public/js/jquery.bpopup.js"></script>
	<script type="text/javascript" src="../../../public/js/script.js"></script>
    
</body>
</html>