<!DOCTYPE html>
<html>
<head>
	<title>Egy4Shop</title>
	<meta charset="utf-8"> 
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    
	<!-- for bootstrap file -->
	<link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap.css" />
    <!-- for custome style -->
    <link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
    <!-- <script src="http://maps.googleapis.com/maps/api/js"></script>-->
    <!-- for fontawesome -->
    <link href="../../../public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- for bxslider -->
    <link href="../../../public/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    
</head>
<body>
<div class="myhead col-sm-12 col-xs-12">
			    <div class="logo">
			      <a href="index.html">
			        <img src="../../../public/imgs/logo.png" />
			      </a>
			    </div>
			    <div class="btns">
			      <a class="login-btn">
			        تسجيل الدخول
			        <span class="glyphicon glyphicon-user"></span>
			      </a>
			      <a href="addComp.html">
			        أضف شركتك
			        <span class="glyphicon glyphicon-plus"></span>
			      </a>
			    </div>

			    <div class="search">
			      <div>
			        <input type="text" placeholder="البحث"/>
			          <input type="submit" />
			          <span class="glyphicon glyphicon-search"></span>
			      </div>

			    </div>
			 </div><!--end my heade-->

	<div class="container">
		<div class="row">
			<div class="pr-head col-xs-12">
				<div class="row">
					<div class="pr-img col-xs-12 col-sm-4">
						<h3>اسم المنتج</h3>
						<img src="../../../public/imgs/img/p0.png" />
						<a class="pr-ord">طلب المنتج</a>
					</div><!--end pr-img-->
					<div class="pr-info col-xs-12 col-sm-8">
						<table>
							<tr>
								<th class="m">المنتج</th>
								<td class="m">المواصفات</td>
							</tr>

							<tr>
								<th>اسم المنتج</th>
								<td>لاب توب hp </td>
							</tr>

							<tr>
								<th>السعر</th>
								<td>3000 جنيه</td>
							</tr>

							<tr>
								<th>عن المنتج</th>
								<td>بروسيسور 4.5 , رامات , شاشه , بروسيسور 4.5 , رامات , شاشه , بروسيسور 4.5 , رامات , شاشه , </td>
							</tr>
						</table>
						<div class="pr-other">
						<h3>منتجات أخرى</h3>
						<div class="row">
							<a href="showpro.html">
								<div class="prd col-sm-4 col-xs-6 col-md-3">
									<img src="../../../public/imgs/img/p0.png">
									<span class="prc">999</span>
									</a>
									<div class="like">
										<span class="glyphicon glyphicon-heart-empty">
											<a> 15 </a>
										</span>
									</div>
								</div><!--end prd-->

							<a href="showpro.html">
								<div class="prd col-sm-4 col-xs-6 col-md-3">
									<img src="../../../public/imgs/img/p0.png">
									<span class="prc">999</span>
									</a>
									<div class="like">
										<span class="glyphicon glyphicon-heart-empty">
											<a> 15 </a>
										</span>
									</div>
								</div><!--end prd-->

								<a href="showpro.html">
								<div class="prd col-sm-4 col-xs-6 col-md-3">
									<img src="../../../public/imgs/img/p0.png">
									<span class="prc">999</span>
									</a>
									<div class="like">
										<span class="glyphicon glyphicon-heart-empty">
											<a> 15 </a>
										</span>
									</div>
								</div><!--end prd-->

								<a href="showpro.html">
								<div class="prd col-sm-4 col-xs-6 col-md-3">
									<img src="../../../public/imgs/img/p0.png">
									<span class="prc">999</span>
									</a>
									<div class="like">
										<span class="glyphicon glyphicon-heart-empty">
											<a> 15 </a>
										</span>
									</div>
								</div><!--end prd-->


						</div><!--end row-->
					</div><!--end pr-other-->
					</div><!--end pr-info-->
				</div>
			</div><!--end pr-head-->
			<div class="sh-comp-info col-xs-12">
						<h3>للتواصل مع الشركه</h3>
						<table>
							<tr>
								<th>اسم الشركه</th>
								<td>شركة الأحلام</td>
							</tr>
							<tr>
								<th>رقم الهاتف</th>
								<td>022205851100</td>
							</tr>
							<tr>
								<th>العنوان</th>
								<td>المنصوره - شارع الجيش - بجانب البرج</td>
							</tr>

							<tr>
								<th>مواعيد العمل</th>
								<td>من 9 صباحا الى 9 مساءا</td>
							</tr>

							<tr>
								<th>معلومات التواصل</th>
								<td>
									<div class="social">
										<a href="https://twitter.com/webdev111111" class="btn btn-social-icon btn-twitter">
				    						<i class="fa fa-twitter"></i>
				  						</a>

				  						<a href="https://www.facebook.com/hosam.gamal.9"
				  						 class="btn btn-social-icon btn-facebook">
				    						<i class="fa fa-facebook"></i>
				  						</a>

				  						<a href="https://plus.google.com/u/0/112456990557422318158" class="btn btn-social-icon btn-google-plus">
				    						<i class="fa fa-google-plus"></i>
				  						</a>

				  						<a href="https://www.linkedin.com/profile/view?id=367523744&trk=nav_responsive_tab_profile_pic" class="btn btn-social-icon btn-linkedin">
				    						<i class="fa fa-linkedin"></i>
				  						</a>
									</div><!--end social-->
								</td>
							</tr>
						</table>
					</div><!--end com-info-->
		</div><!--end row-->
	</div><!--end container-->


	<div  class="control-pg">
  	<span class="open-cog">
  		<a class="glyphicon glyphicon-cog">
  		</a>
  	</span>
  	<span class="close-cog">
  		<a class="glyphicon glyphicon-cog">
  		</a>
  	</span>
  	<div>
  		<li class="delete-btn">
  			<span class="glyphicon glyphicon-pencil"></span>
  			حذف المنتج
  		</li>

  		<li class="add-prod-btn">
  			<span class="glyphicon glyphicon-plus"></span>
  			تعديل المنتج
  		</li>
  	</div>
  </div><!--end control-pg-->


	<div class="footer col-sm-12">
        <div class="fo-links">
          <a href="index.html">الرئيسيه</a>
          <a href="addComp.html">أضف شركتك</a>
          <a href="contact.html">تواصل معنا</a>
<!--            <a href="search-jop.html">إبحث عن وظيفة</a>-->
        </div>
      </div><!--end footer-->

      <div class="back"></div>

      <div class="widme order-prod">
<!--      	<span class="close-ord">X</span>-->
          <h2>طلب المنتج</h2>
      	<form action="" method="post">
      		<textarea placeholder="تفاصيل الطلب ......"></textarea>
      		<input type="text" placeholder="الإسم">
      		<input type="text" placeholder="الهاتف">
      		<input type="text" placeholder="البريد الإلكترونى">
      		<input type="text" placeholder="العدد المطلوب">
      		<input type="submit" class="btn-info" value="أطلب الأن" />
      	</form>
      </div>

     <div class="widme add-prod col-md-7 col-sm-8 col-xs-12">

  			<h3>اضافة منتج</h3>
  			<form action="" method="post" enctype="multipart/data">
  			<div class="row">
  			<div class="col-sm-6 col-xs-12">
  			<input type="text" placeholder="اسم العرض" />
  			<input type="text" placeholder="السعر" />
        <a class="add-other">اضافه مواصفات أخرى</a>
        <div id="other">
          <input type="text" placeholder='اسم الصفه' />
          <input type="text" placeholder='تفاصيل'>
        </div>
                
  			<textarea rows='6' class="form-control input-sm" placeholder="تفاصيل المنتج"></textarea>
  			</div>

  			<div class="col-sm-6 col-xs-12">
  			 <div class="imgcontent">
          <div class="bstext" ><span>أختر صورة المنتج</span></div>
            <output id="list"></output>
          <input type="file" name="myProFileSelect" multiple />
          <script>
            // Bind to the change event of our file input
            $("input[name='myProFileSelect']").on("change", function(){

                // Get a reference to the fileList
                var files = !!this.files ? this.files : [];

                // If no files were selected, or no FileReader support, return
                if ( !files.length || !window.FileReader ) return;

                // Only proceed if the selected file is an image
                if ( /^image/.test( files[0].type ) ) {

                    // Create a new instance of the FileReader
                    var reader = new FileReader();

                    // Read the local file as a DataURL
                    reader.readAsDataURL( files[0] );

                    // When loaded, set image data as background of page
                    reader.onloadend = function(){
                        
                        $(".add-prod .imgcontent").css("background-image", "url(" + this.result + ")")
                        .find('.bstext').fadeOut(10);
                    
                    }

                }

            });
          </script>
        </div><!--end imagecontent-->
        </div>
        </div>
        <input type="submit" name="submit" value="إضافة" id="addpr-btn" />

    </form>
  		</div><!--end edit-comp-->
<div class="login-form">
                <h1>تسجيل الدخول</h1>
                <form action="" method="">
                    <span class="fa fa-user" id="admintxt"></span>
                    <input type="text" placeholder="إدخل الاسم" class="txt"   required autofocus name="txtname">
                    <span class="fa fa-lock" id="passtxt"></span>
                    <input type="password" placeholder="الرقم السري" class="pass"  required name="txtpass">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me"> تذكرني
                      </label>
                    </div>
                    <button type="submit" class="bt" name="lginbtn">دخــول</button>
                </form>
            </div>

  <div class="s-area">
    <span class="close-map"><i class="fa fa-map-marker"></i></span>
    <span class="open-map"><i class="fa fa-map-marker"></i></span>
    <div>
      <from action="" method="">
      <select>
        <option>المحافظه</option>
        <option>القاهره</option>
        <option>الدقهليه</option>
        <option>الإسكندريه</option>
      </select>

      <select>
        <option>المدينه</option>
        <option>المنصوره</option>
        <option>القاهره</option>
        <option>سندوب</option>
      </select>

      <select>
        <option>المنطقه</option>
        <option>الجلاء</option>
        <option>الترعه</option>
        <option>قناة السويس</option>
      </select>

      <select>
        <option>التصنيف</option>
        <option>أجهوه</option>
        <option>ملابس</option>
        <option>مطاعم</option>
      </select>
      <input type="submit" value="ذهاب" />
      </from>
    </div>
  </div><!--end s-area-->
    
    <script type="text/javascript" src="../../../public/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../public/js/jquery.bpopup.js"></script>
    <script type="text/javascript" src="../../../public/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../../../public/js/script.js"></script>
    
</body>
</html>